apiVersion: v1
kind: Secret
metadata:
  name: {{ deploy_key_secret_name }}
  namespace: {{ deploy_key_secret_namespace }}
type: kubernetes.io/ssh-auth
data:
  ssh-privatekey: {{ key_content | b64encode }}
